name: Patch Font

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'juliamono version'
        required: true
        default: 'v0.054'
        type: string
  repository_dispatch:
    types: [new-release-published]

permissions:
  contents: write

jobs:
  patch:
    runs-on: ubuntu-latest
    env:
      version: ${{ github.event.client_payload.version || inputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          path: juliamono-nerd-font

      - uses: actions/checkout@v4
        with:
          repository: 'cormullion/juliamono'
          ref: ${{ env.version }}
          path: juliamono

      - name: Patch
        run: |
          mkdir -p juliamono-nerd-font/font
          docker run --rm -v `pwd`/juliamono:/in -v `pwd`/juliamono-nerd-font/font:/out nerdfonts/patcher --mono --complete --careful --no-progressbars
          zip -j font.zip juliamono-nerd-font/font/*

      - name: Commit and Push
        run: |
          cd juliamono-nerd-font
          git config --local user.email "131801252+merger-bot[bot]@users.noreply.github.com"
          git config --local user.name "merger-bot[bot]"
          sed -i "s%\[\*\*Download\*\*\].*%\[\*\*Download\*\*\](https://github.com/${GITHUB_REPOSITORY}/releases/download/${{ env.version }}/font.zip)%g" README.md
          git add .
          git commit -m 'Updated juliamono-nerd-font to ${{ env.version }}'
          git push

      - uses: actions/create-github-app-token@v1
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: "softprops/action-gh-release@v1"
        with:
          token: ${{ steps.generate-token.outputs.token }}
          tag_name: ${{ env.version }}
          generate_release_notes: true
          files: font.zip
